.slide {
  overflow: hidden;
}

.slide-container {
  display: flex;
  transition: all 1s;
  width: 300vw;
}

.slide-box {
  width: 100vw;
}
img {
  width: 100%;
  height: 80%;
}
.btn {
  text-align: center;
}
