body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  width: 100%;
}

.container {
  width: 630px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: repeat(10, 200px);
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.card {
  height: 200px;
  font-size: 100px;
  border-radius: 10px;
  border: 1px solid;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
